
.box {
    width: 150px;
    height: 150px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Класс для синего фона */
.blue {
    background-color: blue;
}

.transparent {
    background-color: transparent;
}